<div class="nav" >
    
    <div class="nav-header" >

      
    <div class="nav-title"  >
    <p style="color: white;  "> Welcome {{username}}</p> 
    </div> 
    <div style="font-size: 30px; color: white; display: inline-block;position:absolute; left:520px;">
         Quiz Generator
    </div> 
    <div style="font-size: 30px; color: white; display: inline-block;position:absolute; right:10px;">
           <button id="btn" (click)= "logout()"> <b> LOGOUT </b> </button>
       </div> 
    </div>
</div>
