<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-image: url(./assets/images/haha.jpg); background-size: cover;">
	

		<div class="nav" >
    
				<div class="nav-header" >
			
				  
				<div class="nav-title"  >
				</div> 
				<div style="font-size: 30px; color: white; display: inline-block;position:absolute; left:670px; font-family:Great vibes cursive;">
					 Quiz Generator
				</div> 
				</div>
			</div>

	
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(./assets/images/haha.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				   <br>
					<div style="color:#85D6BA"><h2>{{errormsg}}</h2></div>

				<form class="login100-form validate-form" [formGroup]="userdetform" >
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" formControlName="username"    placeholder="Enter username" >
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" formControlName="password" placeholder="Enter password">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="container-login100-form-btn" >
						<button class="login100-form-btn" style="margin-left:65px;color:black; background-color:white; border:2px solid white;font-size:22px; " type="button"  
						(click)="onLoginClick()" >
						<strong>Login</strong>	
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>